In [1]:
!pip install findspark

Requirement already satisfied: findspark in c:\anaconda\lib\site-packages (2.0.1)

In [2]:
import findspark
findspark.init()
import pyspark
findspark.find()

'C:\\Spark\\spark-3.3.2-bin-hadoop2'

In [3]:

import os


import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [4]:
spark = SparkSession.builder.master("local[*]") \
    .appName("testing") \
    .config("spark.driver.extraClassPath", "C:\\my_sql_jar\\mysql-connector-java-8.0.26.jar") \
    .getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x00000264266E5850>

In [5]:
my_data =  [(1,1), 
 (2,1),   
 (3,1),   
 (4,2),   
 (5,1),   
 (6,2),   
 (7,2)]

In [6]:
my_schema = ['id', 'num']

In [7]:
import os
import sys
spark_path = r"C:\\Spark\\spark-3.3.2-bin-hadoop2\\" # spark installed folder
os.environ['SPARK_HOME'] = spark_path
sys.path.insert(0, spark_path + "/bin")
sys.path.insert(0, spark_path + "/python/pyspark/")
sys.path.insert(0, spark_path + "/python/lib/pyspark.zip")
sys.path.insert(0, spark_path + "/python/lib/py4j-0.10.9.5-src.zip")

In [11]:
my_df = spark.createDataFrame(data = my_data, schema = my_schema)

In [12]:
my_df.show()

+---+---+
| id|num|
+---+---+
|  1|  1|
|  2|  1|
|  3|  1|
|  4|  2|
|  5|  1|
|  6|  2|
|  7|  2|
+---+---+

In [14]:
employee_df = spark.read.format("csv")\
                    .option("header", "true")\
                    .option("inferschema", "true")\
                    .option("mode", "PERMISSIVE")\
                    .load("C:\\Users\\HP\\Pyspark\\employee.csv\\")
employee_df.show()

+---+--------+---+------+------------+--------+
| id|    name|age|salary|     address| nominee|
+---+--------+---+------+------------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|
|  3|  Pritam| 22|150000|   Bangalore|   India|
|  4|Prantosh| 17|200000|     Kolkata|   India|
|  5|  Vikash| 31|300000|        null|nominee5|
+---+--------+---+------+------------+--------+

In [15]:
employee_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee: string (nullable = true)

In [17]:
employee_df.columns

['id', 'name', 'age', 'salary', 'address', 'nominee']

## Selecting columns using different methods
### 1. String method: Can select columns but unable to manipulate/rename the data

In [18]:
employee_df.select("*").show()

+---+--------+---+------+------------+--------+
| id|    name|age|salary|     address| nominee|
+---+--------+---+------+------------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|
|  3|  Pritam| 22|150000|   Bangalore|   India|
|  4|Prantosh| 17|200000|     Kolkata|   India|
|  5|  Vikash| 31|300000|        null|nominee5|
+---+--------+---+------+------------+--------+

In [19]:
employee_df.select("name", "age", "nominee").show()

+--------+---+--------+
|    name|age| nominee|
+--------+---+--------+
|  Manish| 26|nominee1|
|  Nikita| 23|nominee2|
|  Pritam| 22|   India|
|Prantosh| 17|   India|
|  Vikash| 31|nominee5|
+--------+---+--------+

In [21]:
# trying to add 5 to col "id"
employee_df.select("id+5").show()

AnalysisException: Column '`id+5`' does not exist. Did you mean one of the following? [id, address, age, name, salary, nominee];
'Project ['id+5]
+- Relation [id#34,name#35,age#36,salary#37,address#38,nominee#39] csv

### 2. Selecting columns using col method

In [22]:
employee_df.select(col("name"), col("age"), col("nominee")).show()

+--------+---+--------+
|    name|age| nominee|
+--------+---+--------+
|  Manish| 26|nominee1|
|  Nikita| 23|nominee2|
|  Pritam| 22|   India|
|Prantosh| 17|   India|
|  Vikash| 31|nominee5|
+--------+---+--------+

In [24]:
# trying to add 5 to col "id"
employee_df.select(col("name"), col("age"), col("nominee"), col("id")+5).show()

+--------+---+--------+--------+
|    name|age| nominee|(id + 5)|
+--------+---+--------+--------+
|  Manish| 26|nominee1|       6|
|  Nikita| 23|nominee2|       7|
|  Pritam| 22|   India|       8|
|Prantosh| 17|   India|       9|
|  Vikash| 31|nominee5|      10|
+--------+---+--------+--------+

### 3. Selecting columns using pandas method

In [25]:
employee_df.select(employee_df["name"], employee_df.age).show()

+--------+---+
|    name|age|
+--------+---+
|  Manish| 26|
|  Nikita| 23|
|  Pritam| 22|
|Prantosh| 17|
|  Vikash| 31|
+--------+---+