In [1]:

import os


import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [2]:
spark = SparkSession.builder.master("local[*]") \
    .appName("testing") \
    .config("spark.driver.extraClassPath", "C:\\my_sql_jar\\mysql-connector-java-8.0.26.jar") \
    .getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x0000022B1BD0C6D0>

In [3]:
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

emp_schema = ['id', 'name', 'age', 'sal', 'country', 'dept']

In [4]:
emp_df = spark.createDataFrame(data = emp_data, schema=emp_schema)

In [5]:
emp_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|   sal|country|       dept|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

### COUNT

Count is both action as well as transformation.

Action: df.count()

Transformation: df.select(count(col("col1")))

In [6]:
# in this example it'll consider all the columns and counts NULLS as row
emp_df.count()

10

In [8]:
# here it considers NULLS 
emp_df.select(col("name")).count()

10

In [9]:
# there are 2 NULLS which skipped
emp_df.select(count(col("name"))).show()

+-----------+
|count(name)|
+-----------+
|          8|
+-----------+

In [14]:
# SUM, MIN, MAX. AVG

emp_df.select(sum("sal").alias("sum"), max("sal"), min("sal"), avg("sal").cast("int").alias("avg")).show()

+------+--------+--------+-----+
|   sum|max(sal)|min(sal)|  avg|
+------+--------+--------+-----+
|560000|  200000|   20000|70000|
+------+--------+--------+-----+