In [1]:

import os


import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [2]:
spark = SparkSession.builder.master("local[*]") \
    .appName("testing") \
    .config("spark.driver.extraClassPath", "C:\\my_sql_jar\\mysql-connector-java-8.0.26.jar") \
    .getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x0000014D5D28C6D0>

In [4]:
customer_data = [(1,'manish','patna',"30-05-2022"),
(2,'vikash','kolkata',"12-03-2023"),
(3,'nikita','delhi',"25-06-2023"),
(4,'rahul','ranchi',"24-03-2023"),
(5,'mahesh','jaipur',"22-03-2023"),
(6,'prantosh','kolkata',"18-10-2022"),
(7,'raman','patna',"30-12-2022"),
(8,'prakash','ranchi',"24-02-2023"),
(9,'ragini','kolkata',"03-03-2023"),
(10,'raushan','jaipur',"05-02-2023")]

customer_schema=['customer_id','customer_name','address','date_of_joining']

customer_df = spark.createDataFrame(data = customer_data, schema = customer_schema)

In [5]:
customer_df.show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          1|       manish|  patna|     30-05-2022|
|          2|       vikash|kolkata|     12-03-2023|
|          3|       nikita|  delhi|     25-06-2023|
|          4|        rahul| ranchi|     24-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|
|          7|        raman|  patna|     30-12-2022|
|          8|      prakash| ranchi|     24-02-2023|
|          9|       ragini|kolkata|     03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|
+-----------+-------------+-------+---------------+

In [6]:
sales_data = [(1,22,10,"01-06-2022"),
(1,27,5,"03-02-2023"),
(2,5,3,"01-06-2023"),
(5,22,1,"22-03-2023"),
(7,22,4,"03-02-2023"),
(9,5,6,"03-03-2023"),
(2,1,12,"15-06-2023"),
(1,56,2,"25-06-2023"),
(5,12,5,"15-04-2023"),
(11,12,76,"12-03-2023")]

sales_schema=['customer_id','product_id','quantity','date_of_purchase']

sales_df = spark.createDataFrame(data = sales_data, schema = sales_schema)

In [7]:
sales_df.show()

+-----------+----------+--------+----------------+
|customer_id|product_id|quantity|date_of_purchase|
+-----------+----------+--------+----------------+
|          1|        22|      10|      01-06-2022|
|          1|        27|       5|      03-02-2023|
|          2|         5|       3|      01-06-2023|
|          5|        22|       1|      22-03-2023|
|          7|        22|       4|      03-02-2023|
|          9|         5|       6|      03-03-2023|
|          2|         1|      12|      15-06-2023|
|          1|        56|       2|      25-06-2023|
|          5|        12|       5|      15-04-2023|
|         11|        12|      76|      12-03-2023|
+-----------+----------+--------+----------------+

In [8]:
product_data = [(1, 'fanta',20),
(2, 'dew',22),
(5, 'sprite',40),
(7, 'redbull',100),
(12,'mazza',45),
(22,'coke',27),
(25,'limca',21),
(27,'pepsi',14),
(56,'sting',10)]

product_schema=['id','name','price']

product_df = spark.createDataFrame(data = product_data, schema = product_schema)

In [9]:
product_df.show()

+---+-------+-----+
| id|   name|price|
+---+-------+-----+
|  1|  fanta|   20|
|  2|    dew|   22|
|  5| sprite|   40|
|  7|redbull|  100|
| 12|  mazza|   45|
| 22|   coke|   27|
| 25|  limca|   21|
| 27|  pepsi|   14|
| 56|  sting|   10|
+---+-------+-----+

In [10]:
customer_df.join(sales_df, sales_df["customer_id"] == customer_df["customer_id"], "inner").show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [14]:
customer_df.join(sales_df, sales_df["customer_id"] == customer_df["customer_id"], "inner")\
            .select(customer_df["customer_id"], customer_df["customer_name"], sales_df["product_id"], customer_df["date_of_joining"], sales_df["date_of_purchase"])\
            .show()

+-----------+-------------+----------+---------------+----------------+
|customer_id|customer_name|product_id|date_of_joining|date_of_purchase|
+-----------+-------------+----------+---------------+----------------+
|          1|       manish|        22|     30-05-2022|      01-06-2022|
|          1|       manish|        27|     30-05-2022|      03-02-2023|
|          1|       manish|        56|     30-05-2022|      25-06-2023|
|          2|       vikash|         5|     12-03-2023|      01-06-2023|
|          2|       vikash|         1|     12-03-2023|      15-06-2023|
|          5|       mahesh|        22|     22-03-2023|      22-03-2023|
|          5|       mahesh|        12|     22-03-2023|      15-04-2023|
|          7|        raman|        22|     30-12-2022|      03-02-2023|
|          9|       ragini|         5|     03-03-2023|      03-03-2023|
+-----------+-------------+----------+---------------+----------------+

In [16]:
customer_df.join(sales_df, sales_df["customer_id"] == customer_df["customer_id"], "inner")\
            .select(sales_df["product_id"]).distinct().show()

+----------+
|product_id|
+----------+
|        22|
|        27|
|        56|
|         5|
|         1|
|        12|
+----------+

In [17]:
customer_df.join(sales_df, sales_df["customer_id"] == customer_df["customer_id"], "left")\
            .select(customer_df["customer_id"], customer_df["customer_name"], sales_df["product_id"], customer_df["date_of_joining"], sales_df["date_of_purchase"])\
            .show()

+-----------+-------------+----------+---------------+----------------+
|customer_id|customer_name|product_id|date_of_joining|date_of_purchase|
+-----------+-------------+----------+---------------+----------------+
|          1|       manish|        56|     30-05-2022|      25-06-2023|
|          1|       manish|        27|     30-05-2022|      03-02-2023|
|          1|       manish|        22|     30-05-2022|      01-06-2022|
|          2|       vikash|         1|     12-03-2023|      15-06-2023|
|          2|       vikash|         5|     12-03-2023|      01-06-2023|
|          3|       nikita|      null|     25-06-2023|            null|
|          4|        rahul|      null|     24-03-2023|            null|
|          6|     prantosh|      null|     18-10-2022|            null|
|          5|       mahesh|        12|     22-03-2023|      15-04-2023|
|          5|       mahesh|        22|     22-03-2023|      22-03-2023|
|          7|        raman|        22|     30-12-2022|      03-02-2023|
|          9|       ragini|         5|     03-03-2023|      03-03-2023|
|         10|      raushan|      null|     05-02-2023|            null|
|          8|      prakash|      null|     24-02-2023|            null|
+-----------+-------------+----------+---------------+----------------+

In [18]:
# customer who has registered but never purchased the product

customer_df.join(sales_df, sales_df["customer_id"] == customer_df["customer_id"], "left")\
            .select(customer_df["customer_id"], customer_df["customer_name"], 
                   customer_df["date_of_joining"])\
            .distinct()\
            .filter(sales_df["date_of_purchase"].isNull())\
            .show()

+-----------+-------------+---------------+
|customer_id|customer_name|date_of_joining|
+-----------+-------------+---------------+
|          3|       nikita|     25-06-2023|
|          4|        rahul|     24-03-2023|
|          6|     prantosh|     18-10-2022|
|          8|      prakash|     24-02-2023|
|         10|      raushan|     05-02-2023|
+-----------+-------------+---------------+

In [19]:
customer_df.join(sales_df, sales_df["customer_id"] == customer_df["customer_id"], "outer")\
            .select(customer_df["customer_id"], customer_df["customer_name"], 
                   customer_df["date_of_joining"], sales_df["product_id"])\
            .show()

+-----------+-------------+---------------+----------+
|customer_id|customer_name|date_of_joining|product_id|
+-----------+-------------+---------------+----------+
|          1|       manish|     30-05-2022|        22|
|          1|       manish|     30-05-2022|        27|
|          1|       manish|     30-05-2022|        56|
|          2|       vikash|     12-03-2023|         5|
|          2|       vikash|     12-03-2023|         1|
|          3|       nikita|     25-06-2023|      null|
|          4|        rahul|     24-03-2023|      null|
|          5|       mahesh|     22-03-2023|        22|
|          5|       mahesh|     22-03-2023|        12|
|          6|     prantosh|     18-10-2022|      null|
|          7|        raman|     30-12-2022|        22|
|          8|      prakash|     24-02-2023|      null|
|          9|       ragini|     03-03-2023|         5|
|         10|      raushan|     05-02-2023|      null|
|       null|         null|           null|        12|
+-----------+-------------+---------------+----------+

In [22]:
# left anti-join
customer_df.join(sales_df, sales_df["customer_id"] == customer_df["customer_id"], "left")\
            .select(customer_df["customer_id"], customer_df["customer_name"], 
                   customer_df["date_of_joining"], sales_df["product_id"])\
            .where(sales_df["product_id"].isNotNull())\
            .show()

+-----------+-------------+---------------+----------+
|customer_id|customer_name|date_of_joining|product_id|
+-----------+-------------+---------------+----------+
|          1|       manish|     30-05-2022|        22|
|          1|       manish|     30-05-2022|        27|
|          1|       manish|     30-05-2022|        56|
|          2|       vikash|     12-03-2023|         5|
|          2|       vikash|     12-03-2023|         1|
|          5|       mahesh|     22-03-2023|        22|
|          5|       mahesh|     22-03-2023|        12|
|          7|        raman|     30-12-2022|        22|
|          9|       ragini|     03-03-2023|         5|
+-----------+-------------+---------------+----------+

In [29]:
# left semi join -- ignores all the data in the right table and gives output for the matching records of both the tables

customer_df.join(sales_df, sales_df["customer_id"] == customer_df["customer_id"], "leftsemi")\
            .select("*")\
            .show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          1|       manish|  patna|     30-05-2022|
|          2|       vikash|kolkata|     12-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|
|          7|        raman|  patna|     30-12-2022|
|          9|       ragini|kolkata|     03-03-2023|
+-----------+-------------+-------+---------------+

In [30]:
# difference is it'll output all the records in INNER JOIN but not in LEFTSEMI JOIN
customer_df.join(sales_df, sales_df["customer_id"] == customer_df["customer_id"], "inner")\
            .select("*")\
            .show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [34]:
customer_df.join(sales_df, sales_df["customer_id"] == customer_df["customer_id"], "outer")\
            .select("*")\
            .show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          3|       nikita|  delhi|     25-06-2023|       null|      null|    null|            null|
|          4|        rahul| ranchi|     24-03-2023|       null|      null|    null|            null|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          6|     prantosh|kolkata|     18-10-2022|       null|      null|    null|            null|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          8|      prakash| ranchi|     24-02-2023|       null|      null|    null|            null|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|       null|      null|    null|            null|
|       null|         null|   null|           null|         11|        12|      76|      12-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [31]:
# left anti-join -- records which are not present in right table but in left table
customer_df.join(sales_df, sales_df["customer_id"] == customer_df["customer_id"], "leftanti")\
            .select("*")\
            .show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          3|       nikita|  delhi|     25-06-2023|
|          4|        rahul| ranchi|     24-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|
|         10|      raushan| jaipur|     05-02-2023|
|          8|      prakash| ranchi|     24-02-2023|
+-----------+-------------+-------+---------------+

In [35]:
## Cross- join
customer_df.crossJoin(sales_df).show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          2|       vikash|kolkata|     12-03-2023|          1|        22|      10|      01-06-2022|
|          2|       vikash|kolkata|     12-03-2023|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          2|         5|       3|      01-06-2023|
|          1|       manish|  patna|     30-05-2022|          5|        22|       1|      22-03-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          5|        22|       1|      22-03-2023|
|          1|       manish|  patna|     30-05-2022|          7|        22|       4|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          9|         5|       6|      03-03-2023|
|          2|       vikash|kolkata|     12-03-2023|          7|        22|       4|      03-02-2023|
|          2|       vikash|kolkata|     12-03-2023|          9|         5|       6|      03-03-2023|
|          1|       manish|  patna|     30-05-2022|          2|         1|      12|      15-06-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          1|       manish|  patna|     30-05-2022|          5|        12|       5|      15-04-2023|
|          1|       manish|  patna|     30-05-2022|         11|        12|      76|      12-03-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          5|        12|       5|      15-04-2023|
|          2|       vikash|kolkata|     12-03-2023|         11|        12|      76|      12-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
only showing top 20 rows

In [36]:
customer_df.count()

10

In [37]:
sales_df.count()

10

In [38]:
customer_df.crossJoin(sales_df).count()

100

In [42]:
p_data = [[1, 'Wang', 'Allen'], [2, 'Alice', 'Bob']]
p_columns=['personId', 'firstName', 'lastName']

person_df = spark.createDataFrame(data = p_data, schema=p_columns)

In [43]:
person_df.show()

+--------+---------+--------+
|personId|firstName|lastName|
+--------+---------+--------+
|       1|     Wang|   Allen|
|       2|    Alice|     Bob|
+--------+---------+--------+

In [44]:
a_data = ([1, 2, 'New York City', 'New York'], [2, 3, 'Leetcode', 'California'])
a_columns=['addressId', 'personId', 'city', 'state']

address_df = spark.createDataFrame(data=a_data, schema=a_columns)

In [45]:
address_df.show()

+---------+--------+-------------+----------+
|addressId|personId|         city|     state|
+---------+--------+-------------+----------+
|        1|       2|New York City|  New York|
|        2|       3|     Leetcode|California|
+---------+--------+-------------+----------+

Write a solution to report the first name, last name, city, and state of each person in the Person table. If the address of a personId is not present in the Address table, report null instead.

Return the result table in any order.

In [46]:
person_df.join(address_df, person_df["personId"] == address_df["personId"], "left")\
        .select("firstName", "lastName", "city", "state")\
        .show()

+---------+--------+-------------+--------+
|firstName|lastName|         city|   state|
+---------+--------+-------------+--------+
|     Wang|   Allen|         null|    null|
|    Alice|     Bob|New York City|New York|
+---------+--------+-------------+--------+