In [1]:

import os


import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [2]:
spark = SparkSession.builder.master("local[*]") \
    .appName("testing") \
    .config("spark.driver.extraClassPath", "C:\\my_sql_jar\\mysql-connector-java-8.0.26.jar") \
    .getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x000001C258A6D700>

In [9]:
my_data = [(1,'manish',50000,'IT'),
(2,'vikash',60000,'sales'),
(3,'raushan',70000,'marketing'),
(4,'mukesh',80000,'IT'),
(5,'pritam',90000,'sales'),
(6,'nikita',45000,'marketing'),
(7,'ragini',55000,'marketing'),
(8,'rakesh',100000,'IT'),
(9,'aditya',65000,'IT'),
(10,'rahul',50000,'marketing')]

schema = ['id', 'name', 'sal', 'dept']

emp_df = spark.createDataFrame(data=my_data, schema = schema)

In [10]:
emp_df.show()

+---+-------+------+---------+
| id|   name|   sal|     dept|
+---+-------+------+---------+
|  1| manish| 50000|       IT|
|  2| vikash| 60000|    sales|
|  3|raushan| 70000|marketing|
|  4| mukesh| 80000|       IT|
|  5| pritam| 90000|    sales|
|  6| nikita| 45000|marketing|
|  7| ragini| 55000|marketing|
|  8| rakesh|100000|       IT|
|  9| aditya| 65000|       IT|
| 10|  rahul| 50000|marketing|
+---+-------+------+---------+

In [11]:
emp_df.groupBy("dept")\
        .agg(sum("sal")).show()

+---------+--------+
|     dept|sum(sal)|
+---------+--------+
|    sales|  150000|
|       IT|  295000|
|marketing|  220000|
+---------+--------+

In [14]:
my_data1 = [(1,'manish',50000,'IT', 'india'),
(2,'vikash',60000,'sales', 'us'),
(3,'raushan',70000,'marketing', 'india'),
(4,'mukesh',80000,'IT', 'us' ),
(5,'pritam',90000,'sales', 'india'),
(6,'nikita',45000,'marketing', 'us'),
(7,'ragini',55000,'marketing', 'india'),
(8,'rakesh',100000,'IT', 'us'),
(9,'aditya',65000,'IT', 'india'),
(10,'rahul',50000,'marketing', 'us')]

schema1 = ['id', 'name', 'sal', 'dept', 'country']

employee_df = spark.createDataFrame(data=my_data1, schema = schema1)

In [15]:
employee_df.show()

+---+-------+------+---------+-------+
| id|   name|   sal|     dept|country|
+---+-------+------+---------+-------+
|  1| manish| 50000|       IT|  india|
|  2| vikash| 60000|    sales|     us|
|  3|raushan| 70000|marketing|  india|
|  4| mukesh| 80000|       IT|     us|
|  5| pritam| 90000|    sales|  india|
|  6| nikita| 45000|marketing|     us|
|  7| ragini| 55000|marketing|  india|
|  8| rakesh|100000|       IT|     us|
|  9| aditya| 65000|       IT|  india|
| 10|  rahul| 50000|marketing|     us|
+---+-------+------+---------+-------+

In [17]:
employee_df.groupBy("dept", "country")\
            .agg(sum("sal"))\
            .orderBy("country")\
            .show()

+---------+-------+--------+
|     dept|country|sum(sal)|
+---------+-------+--------+
|marketing|  india|  125000|
|       IT|  india|  115000|
|    sales|  india|   90000|
|    sales|     us|   60000|
|       IT|     us|  180000|
|marketing|     us|   95000|
+---------+-------+--------+