# DISTINCT & SORT

In this notebook below topics discussed:

#### 1. Checking unique records in table
#### 2. Deleting duplicate records[row level]
#### 3. Sorting the records
#### 4. leetcode problem

In [1]:

import os


import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

spark = SparkSession.builder.master("local[*]") \
    .appName("testing") \
    .config("spark.driver.extraClassPath", "C:\\my_sql_jar\\mysql-connector-java-8.0.26.jar") \
    .getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x00000221DA4F2E20>

In [2]:
my_data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(15 ,'Mohit',45000,  18),
(13 ,'Nidhi',60000,  17),      
(14 ,'Priya',90000,  18),  
(18 ,'Sam',65000,   17)]

my_schema = ['id', 'name', 'sal', 'mngr_id']

manager_df = spark.createDataFrame(data = my_data, schema = my_schema)

In [3]:
manager_df.show()

+---+------+-----+-------+
| id|  name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
| 15| Mohit|45000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|90000|     18|
| 18|   Sam|65000|     17|
+---+------+-----+-------+

In [4]:
# checking the count
manager_df.count()

13

In [6]:
# checking the count after applying distinct

manager_df.distinct().count()

10

In [7]:
# Sam has 2 records and 1 is removed
manager_df.distinct().show()

+---+------+-----+-------+
| id|  name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 12| Nisha|40000|     18|
| 11| Vikas|75000|     16|
| 15| Mohit|45000|     18|
| 14| Priya|80000|     18|
| 13| Nidhi|60000|     17|
| 16|Rajesh|90000|     10|
| 18|   Sam|65000|     17|
| 17| Raman|55000|     16|
| 14| Priya|90000|     18|
+---+------+-----+-------+

In [11]:
# if specific columns are selected say: id, name

print("Before applying DISTINCT, observe names ex: 'Priya' etc.,")
manager_df.select("id", "name").show()

print("After applying DISTINCT")
manager_df.select("id", "name").distinct().show()

Before applying DISTINCT, observe names ex: 'Priya' etc.,
+---+------+
| id|  name|
+---+------+
| 10|  Anil|
| 11| Vikas|
| 12| Nisha|
| 13| Nidhi|
| 14| Priya|
| 15| Mohit|
| 16|Rajesh|
| 17| Raman|
| 18|   Sam|
| 15| Mohit|
| 13| Nidhi|
| 14| Priya|
| 18|   Sam|
+---+------+

After applying DISTINCT
+---+------+
| id|  name|
+---+------+
| 10|  Anil|
| 11| Vikas|
| 12| Nisha|
| 13| Nidhi|
| 15| Mohit|
| 14| Priya|
| 17| Raman|
| 18|   Sam|
| 16|Rajesh|
+---+------+

In [12]:
## Droppping duplicate records

manager_df.drop_duplicates(["id", "name", "sal", "mngr_id"]).show()

+---+------+-----+-------+
| id|  name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 12| Nisha|40000|     18|
| 11| Vikas|75000|     16|
| 15| Mohit|45000|     18|
| 14| Priya|80000|     18|
| 13| Nidhi|60000|     17|
| 16|Rajesh|90000|     10|
| 18|   Sam|65000|     17|
| 17| Raman|55000|     16|
| 14| Priya|90000|     18|
+---+------+-----+-------+

In [19]:
# Sorting 

manager_df.sort(col("sal").desc()).show()

+---+------+-----+-------+
| id|  name|  sal|mngr_id|
+---+------+-----+-------+
| 14| Priya|90000|     18|
| 16|Rajesh|90000|     10|
| 14| Priya|80000|     18|
| 11| Vikas|75000|     16|
| 18|   Sam|65000|     17|
| 18|   Sam|65000|     17|
| 13| Nidhi|60000|     17|
| 13| Nidhi|60000|     17|
| 17| Raman|55000|     16|
| 10|  Anil|50000|     18|
| 15| Mohit|45000|     18|
| 15| Mohit|45000|     18|
| 12| Nisha|40000|     18|
+---+------+-----+-------+

In [21]:
# Sorting mpre than one column

manager_df.sort(col("sal").desc(), col("id").asc()).show()

+---+------+-----+-------+
| id|  name|  sal|mngr_id|
+---+------+-----+-------+
| 14| Priya|90000|     18|
| 16|Rajesh|90000|     10|
| 14| Priya|80000|     18|
| 11| Vikas|75000|     16|
| 18|   Sam|65000|     17|
| 18|   Sam|65000|     17|
| 13| Nidhi|60000|     17|
| 13| Nidhi|60000|     17|
| 17| Raman|55000|     16|
| 10|  Anil|50000|     18|
| 15| Mohit|45000|     18|
| 15| Mohit|45000|     18|
| 12| Nisha|40000|     18|
+---+------+-----+-------+

[leet code problem](https://leetcode.com/problems/find-customer-referee/description/?envType=study-plan-v2&envId=top-sql-50)

In [23]:
leet_code_data = [
    (1, 'Will', None),
    (2, 'Jane', None),
    (3, 'Alex', 2),
    (4, 'Bill', None),
    (5, 'Zack', 1),
    (6, 'Mark', 2)
]

l_schema = ['id', 'name', 'referee_id']

leet_df = spark.createDataFrame(data = leet_code_data, schema = l_schema)

In [24]:
leet_df.show()

+---+----+----------+
| id|name|referee_id|
+---+----+----------+
|  1|Will|      null|
|  2|Jane|      null|
|  3|Alex|         2|
|  4|Bill|      null|
|  5|Zack|         1|
|  6|Mark|         2|
+---+----+----------+

In [32]:
leet_df.withColumn("referee_id", when(col("referee_id").isNull(), 0)\
                                   .otherwise(col("referee_id")))\
        .filter(col("referee_id") != 2)\
        .select(col("name"))\
        .show()

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+